<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users list</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Users list</h1>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>E-mail</th>
      <th>Password</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone number</th>
      <th>Age</th>
    </tr>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.password}"></td>
      <td th:text="${user.firstName}"></td>
      <td th:text="${user.lastName}"></td>
      <td th:text="${user.phoneNumber}"></td>
      <td th:text="${user.age}"></td>
    </tr>
  </table>
  <a th:href="@{/}">Back to sign up</a>
</body>
</html>